@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.29);
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.title-content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40vh;
    margin: 0;
    font-family: "Josefin Sans";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 5em;
    font-weight: 700;
}

.info {
    font-size: 1.6em;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 12px;
}

a:visited {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: none;
    color: rgb(191, 191, 191);
}
