@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.29);
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.title-content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40vh;
    margin: 0;
    font-family: "Josefin Sans";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 5em;
    font-weight: 700;
}

.info {
    font-size: 1.6em;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 12px;
}

a:visited {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: none;
    color: rgb(191, 191, 191);
p {
    font-size: 1.5em;
}

.top-nav {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 1em;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.menu li {
    margin: 0 3em; 
}

.menu li a {
    color: rgb(248, 245, 245);
    text-decoration: none;
    padding: 0.5em;
    transition: background-color 0.3s;
    cursor: pointer;

}

.menu li a:hover {
    color: gray; 
}

.background-div {
    background-image: url("golf-2217600_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .text-container {
    height: 400px;
    width: 1000px;
    /* background: white; */
    color: black;   
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-image: linear-gradient(to right, rgb(255,255,255,1 ), rgb(255, 255, 255,0));
  }
#bakgrundbokning {
    border-radius: 50%;
    width: 500px;   
    margin: 100px;
    display: flex;
    float: right;
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }

  #bokningssida {
    background-color: rgb(154, 141, 45);
  }
